header {
	position: relative;
	width: 100%;
	min-height: 50px;
	overflow: hidden;
	background: #e4f2fc
}

.img-item {
	height: 100%;
	overflow: hidden;
	float: left;
	margin: 10px 0px 0px;
	padding: 0px;
}

.img-size{
	width: 1280px;
	height: 110px;
}

.img-item img {
	width: 100%;
}

.nav-list {
	padding: 10px 10px 5px 10px;
}

.nav-list:after {
	content: '\0020';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}

.nav-list li {
	position: relative;
	float: left;
	margin-bottom: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.nav-list li:before {
	content: "";
	position: absolute;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
	background-image: url(../images/home.png);
	background-size: 170px 160px;
	background-repeat: no-repeat;
}

.nav-list h2 {
	position: absolute;
	left: 8px;
	top: 8px;
	font: 500 14px/1 "Microsoft Yahei";
	color: #fff;
}

.nav-flight,.nav-train,.nav-car,.nav-trip,.nav-ticket,.nav-week {
	height: 70px;
}

.nav-hotel,.nav-fortun,.nav-strategy {
	height: 93px;
}

.nav-train,.nav-car,.nav-fortun,.nav-strategy,.nav-ticket,.nav-week {
	border-left: 5px solid #fff;
}

.nav-flight,.nav-hotel,.nav-trip {
	width: 40%;
}

.nav-train,.nav-car,.nav-fortun,.nav-strategy,.nav-ticket,.nav-week {
	width: 30%;
}

.nav-flight {
	background-color: #368ff4;
}

.nav-train {
	background-color: #00ae9d;
}

.nav-car {
	background-color: #9556f3;
}

.nav-hotel {
	background-color: #0fc4d9;
}

.nav-fortun {
	background-color: #e7f8ff;
}

.nav-strategy {
	background-color: #ff864a;
}

.nav-trip {
	background-color: #84d018;
}

.nav-ticket {
	background-color: #f3b613;
}

.nav-week {
	background-color: #78cdd1;
}

.nav-list .nav-fortun h2,.nav-list .nav-fortun h2 a {
	color: #ff9913;
}

.nav-list .nav-fortun h2 {
	top: 66px;
	left: 0;
	width: 100%;
	text-align: center;
}

.nav-flight:before {
	top: 24px;
	left: 60%;
	width: 60px;
	height: 35px;
	background-position: 0 0;
}

.nav-train:before {
	top: 36px;
	left: 50%;
	width: 50px;
	height: 20px;
	background-position: -70px 0;
}

.nav-car:before {
	top: 30px;
	left: 50%;
	width: 35px;
	height: 31px;
	background-position: -130px 0;
}

.nav-hotel:before {
	top: 30px;
	left: 60%;
	width: 58px;
	height: 44px;
	background-position: 0 -40px;
}

.nav-fortun:before {
	top: 24px;
	left: 50%;
	width: 24px;
	height: 35px;
	background-position: -60px -30px;
}

.nav-strategy:before {
	top: 34px;
	left: 50%;
	width: 34px;
	height: 34px;
	background-position: -120px -80px;
}

.nav-trip:before {
	top: 25px;
	left: 60%;
	width: 40px;
	height: 34px;
	background-position: 0 -90px;
}

.nav-ticket:before {
	top: 32px;
	left: 50%;
	width: 50px;
	height: 26px;
	background-position: -65px -70px;
}

.nav-week:before {
	top: 32px;
	left: 50%;
	width: 49px;
	height: 26px;
	background-position: -50px -100px;
}

footer {
	line-height: 27px;
	text-align: center;
	font-size: 12px;
}

.tool-box {
	margin: 0 10px;
	padding-bottom: 5px;
}

.tool-cn {
	margin-bottom: 3px;
	padding: 8px 0;
	height: 24px;
	background-color: #fff;
	line-height: 24px;
	text-align: center;
}

.tool-cn a {
	display: inline-block;
	padding: 0 5px;
	line-height: 1;
	color: #333;
}

.tool-cn a.link-tel {
	color: #0e68d5;
}

.tool-cn .link-mc {
	position: relative;
	margin-left: 5px;
	padding-left: 35px;
	border-left: 1px solid #c4cbce;
}

.tool-cn .link-mc:before {
	content: "";
	position: absolute;
	top: -2px;
	left: 10px;
	width: 16px;
	height: 16px;
	background: url(../images/home.png) no-repeat -30px -130px;
	background-size: 170px 160px;
}

.computer {
	margin-left:-4px;
}

.tool-ver a {
	padding:0 18px;
	text-align:center;
	color:#333;
}

footer p {
	margin: 0;
	line-height: 18px;
	color: #626262;
}

.c_pop_wrap {
	position: fixed;
	left: 10px;
	right: 10px;
	z-index: 1000;
	bottom: 12px;
/*	display: none;*/
}

.c_pop {
	position: relative;
	z-index: 9;
	height: 100%;
	margin: 0 10px;
	border-radius: 8px;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity:70);
}

.c_pop_trigon {
	position: absolute;
	width: 0;
	height: 0;
}

.c_pop_trigon {
	z-index: -1;
	left: 50%;
	margin-left: -6px;
	bottom: -8px;
	border-top: 8px solid #000;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.c_pop_cont {
	padding: 10px;
	font-size: 600;
	text-align: center;
	color: #fff;
}