



.header-fix {
	position: fixed;
	top: 0;
	width: 100%;
}





.right-head-bg {
	background-color: #3a97bd;
	padding-left: 11px;
	z-index: 2;
}


.right-head-bg .list-btn {
/*background-position:8px 0;*/
}






.nav-tongcheng {
	background-color: #3cafdc;
	border-top: 1px solid #3a97bd;
}

.nav-item-hover {
	background-color: #3a97bd;
}

.nav1 {
	background: url("http://img1.40017.cn/touch/cn/public/header-nav.png") no-repeat scroll 0 -56px;
	width: 29px;
	height: 26px;
	display: inline-block;
	margin-left: -40px;
	vertical-align: middle;
	margin-bottom: -6px;
}


.nav4 {
	background: url("http://img1.40017.cn/touch/cn/public/header-nav.png") no-repeat scroll 0 -195px;
	width: 24px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: -6px;
	margin-left: 1px;
}





#ly_shade {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transform: translate3d(0,0,0);
	z-index: 1;
}