


.connect a {
	padding: 0 18px;
}

a.phone {
	color: #0E68D5;
}

.versions a {
	height: 12px;
	line-height: 12px;
	padding: 0 18px;
	border-right: 1px solid #000;
}

.connect a:last-child,.versions a:last-child {
	border-right: none;
}



.connect a:visited,.connect a:hover,.connect a:active,.versions a:visited,.versions a:hover,.versions a:active {
	color: #000;
}

.connect a.phone:visited,.connect a.phone:hover,.connect a.phone:active {
	color: #000;
}

.cui-alert-title {
	text-align: center;
	height: 3em;
	line-height: 3em;
	background: #1491c5;
	color: #fff;
}

.cui-alert-content {
	margin: 0px 20px;
	padding: 25px 0px;
	font-weight: bold;
	line-height: 150%;
	text-align: left;
}

.cui-alert-button-box {
	text-align: center;
	padding-bottom: 15px;
}

.cui-alert-button {
	height: 44px;
	line-height: 44px;
	border: 0px;
	background: #31A9E9;
	width: 40%;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin: 0px 0.5em;
	display: inline-block;
}

.cui-alert-button:hover {
	background: #005C9C;
}

.cui-alert-button-small {
	font-size: 16px;
}

.ctrip-confirm {
	background: #1491c5;
}

.cui-alert-tbg {
	background: #000;
	opacity: 0.5;
	border-radius: 4px;
	display: none;
}

.cui-alert-conbox {
	margin: 10px;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.goto_top {
	margin-top: 0 !important;
}

.computer {
	margin-left: -4px;
}

.index_bnr {
	display: block;
	width: 100%;
}

.noimg {
	display: block;
	position: relative;
}

.noimg img {
	display: block;
	position: relative;
	z-index: 3;
}

.noimg i {
	display: block;
	position: absolute;
	z-index: 1;
	top: 15px;
	left: 50%;
	margin-left: -85px;
	margin-top: -10px;
	font-style: normal;
}

.noimg1 i {
	margin-left: -100px;
	margin-top: 0;
}

#J-Touch {
	overflow: hidden;
}

#J-Touch img,#J-Touch img {
	width: 100%;
}

#J-Touch a,#J-Touch img {
	display: block;
}

.left {
	float: left;
}

.module {
	position: relative;
	width: 100%;
	margin: 0px;
}

.img_show {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.img_wrap {
	position: relative;
	left: 0;
	top: 0;
}

.img_wrap ul {
	position: relative;
	left: 0px;
}

.img_wrap ul li {
	float: left;
}

.imgFlashIco {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 9;
	width: 100%;
	height: 4px;
	overflow: hidden;
}

.msgbox-ui {
	z-index: 9999999;
	position: fixed !important;
	top: 50%;
	left: 50%;
	box-shadow: 0 1px 1px -1px white;
	border: 0;
	display: block;
	border-radius: .6em;
	background-color: #222;
	padding: 15px;
	width: 210px;
	opacity: .88;
	height: auto;
	margin-left: -120px;
	margin-top: -43px;
}

.msgbox-ui h1 {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 16px;
}




.c_pop_sd:after {
	position: absolute;
	content: "";
	left: 50%;
	margin-left: -9px;
	bottom: -12px;
	border-top: 14px solid #000;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}



.c_pop_close:before {
	-webkit-transform: rotate(45deg);
}

.c_pop_wrap_uc {
	position: fixed;
	left: 0;
	top: 10px;
	z-index: 999999;
	display: none;
}

.c_pop_wrap_uc .c_pop_cont {
	padding-right: 40px;
}

.c_pop_wrap_uc .c_pop_trigon {
	left: 20px;
	bottom: auto;
	top: -8px;
	-webkit-transform: rotate(-180deg);
}

.c_pop_hidding {
	-webkit-animation: hidding 0.8s linear forwards;
	animation: hidding 0.8s linear forwards;
	display: block;
}

.c_pop_showing {
	-webkit-animation: showing 0.8s linear forwards;
	animation: showing 0.8s linear forwards;
	display: block;
}

@-webkit-keyframes hidding {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes hidding {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes showing {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes showing {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fix_bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
}

.pb85 {
	padding-bottom: 85px!important;
}

#dl_app {
	width: 100%;
	height: auto;
	max-height: 85px;
	min-height: 40px;
	background: rgba(0,0,0,.7);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.txt_middle {
/*firfox bug star*/
	display: flex;
	align-items: center;
/*firfox bug end*/
	display: -webkit-box;
	-webkit-box-align: center;
}

#dl_app #icon_text {
	box-flex: 5;
	flex: 5;
	-webkit-box-flex: 5;
	-moz-flex: 5;
	-ms-flex: 5;
	padding: 5px;
	box-sizing: border-box;
}

#dl_app #app_link {
	box-flex: 3;
	flex: 3;
	-webkit-box-flex: 3;
	-moz-flex: 3;
	-ms-flex: 3;
}

#dl_app #close_icon {
	box-flex: 2;
	flex: 2;
	-webkit-box-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	min-width: 40px;
}

#icon_text img {
	display: block;
}

#app_link {
	background: rgba(45,141,233,1);
	padding: 0 2%;
	margin: 5px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#app_link img {
	display: block;
	margin: 0 auto;
}

#close_icon {
	width: 14px;
	background: url(data:image/png;
	base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAJFBMVEX////7+/v9/f38/Pz///////8AAAD7+/v9/f38/Pz5+fn///8Qx3UMAAAAB3RSTlMGrqerA1QAkV5UdwAAAINJREFUeNpt0DsOxDAMA1H6JzvR/e+7cCEQgyzbV3EUs6/4s9VnaLZ8rbY329TILKVlDq3HSnuWAgoLBRR20Uq7aKUVWm2FVpvRWma07l1mtJYVWs+1YwPuixuI72wl2DlQsZlrGP0dKhpVNKpoVNGosn1Vtq+qw6BdajZqk0KjjDoUP38iFa1PkZEuAAAAAElFTkSuQmCC) center center no-repeat;background-size: 14px 14px;
}

@media screen and (max-width:640px) {
	#icon_text img,#app_link img {
		width: 90%;
	}
}

.cui-mask {
	background: rgba(0,0,0,.5);
	z-index: 2000
}

.cui-roller-btns .cui-flexbd:nth-of-type(2) {
	border-left: 1px solid #bcbcbc
}

.cui-alert-padding {
	padding: 0 0 10px;
	background: #fff;
	overflow: hidden
}

.cui-roller, .cui-roller-btns {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 100%;
}

.cui-roller-bd,.cui-roller-btns .cui-flexbd {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.cui-roller-btns .cui-flexbd:active {
	opacity: .75
}

.cui-alert {
	max-width: "";
	width: 100%
}

.cui-error-tips {
	color: #000;
	padding: 20px;
	text-align: center
}

.cui-alert {
	position: fixed;
	top: 50%;
	padding: 1px
}

.cui-pop-box {
	background: #fff;
	width: 280px;
	margin: auto;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
	z-index: 9999
}

.cui-bd {
	color: #000
}

.cui-roller-btns {
	background: #fff;
	border-top: 1px solid #bcbcbc;
	line-height: 18px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.cui-roller-btns .cui-flexbd {
	padding: 12px 0;
	color: #099fde;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.cui-slide {
	width: 100%;
	height: 100%;
	position: relative;
}

.cui-slide-imgsouter {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.cui-slide-imgsinter {
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}



.cui-slide-nav {
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0px;
	text-align: center;
	width: 100%;
}

.cui-slide-nav-padding {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.cui-slide-nav-item {
	display: block;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 4px;
	background: rgba(0,0,0,.5);
}

body .cui-slide-nav-item-current {
	background: #ff9913;
	opacity: 1;
}

.cui-slide-img-item-empey {
	background: #ccc;
	position: relative;
}

.cui-slide-img-item-empey:after {
	position: absolute;
	content: '无图片';
	width: 100%;
	text-align: center;
	top: 45%;
}

#can-fan-explain {
	display: none;
}

.apply-fanxian {
	display: none;
}

#return-can-fan-explain {
	display: none;
}

.novip {
	display: none;
}

.bigimgbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	z-index: 1001;
}

.bigimgbox img {
	display: block;
	width: 100%;
	min-height: 100%;
}

.bigimgclose {
	position: absolute;
	z-index: 1002;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
}

.bigimgclose:before,.bigimgclose:after {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	margin: 0 0 0 -15px;
	width: 30px;
	height: 4px;
	background: #fff;
}

.bigimgclose:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.bigimgclose:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bigimglink {
	position: absolute;
	z-index: 99;
	top: 64.5%;
	left: 18.4%;
	width: 62.5%;
	height: 8%;
}



.connect a:visited,.connect a:hover,.connect a:active,.versions a:visited,.versions a:hover,.versions a:active {
	color: #000;
}

.connect a.phone:visited,.connect a.phone:hover,.connect a.phone:active {
	color: #000;
}









.nav-food {
	background-color: #ff864a;
}









.tool-ver a {
	padding: 0 18px;
	text-align: center;
	color: #333;
}

